
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form action="Home/Postxml" enctype="multipart/form-data" method="post">

      
        <p>
            Please select xml file:<br>
            <input type="file" name="xmlfile" size="40">
        </p>
        <div>
            <input type="submit" value="Send">
        </div>
    </form>
</body>
</html>
